.routine-builder-container {
  width: 95%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  justify-content: space-evenly;

  &__total-tariff {
    text-align: center;
  }

  h1 {
    text-align: center;
  }
}
