<main class="routine-builder-container">
  @if (showTemplateRoutineSelection()) {
    <h1>Select Pre-made Routine</h1>
    <div #acc="ngbAccordion" ngbAccordion [closeOthers]="true">
      @for (premadeRoutine of premadeRoutines(); track premadeRoutine.name) {
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton type="button">
              {{ premadeRoutine.name }}
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                @for (skill of premadeRoutine.routine; track $index) {
                  <span>({{ $index + 1 }}) {{ skill?.name }}</span>
                  <hr />
                }
                <button
                  class="btn btn-success"
                  type="button"
                  (click)="selectRoutineTemplate(premadeRoutine, accordion())"
                >
                  Select {{ premadeRoutine.name }}
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      }
    </div>
  }
  <h1 class="routine-builder-container__total-tariff">
    Total tariff:
    {{ routineModel().skills | routineTariffCalculator | number: "1.2-2" }}
  </h1>
  @for (skill of routineModel().skills; track $index) {
    @let previousSkillLandingPosition =
      $index !== 0 ? routineModel().skills[$index - 1]?.landing : "feet";
    <app-input-skill-selector
      [formField]="routineFormTree.skills[$index]"
      [skillIndex]="$index"
      [previousSkillLandingPosition]="previousSkillLandingPosition ?? 'feet'"
    />
  }
</main>
