<main class="routine-builder-container">
  <span class="routine-builder-container__total-tariff"
    >Total tariff:
    {{ routine | routineTariffCalculator | number : "1.2-2" }}</span
  >
  @for (skill of routine; track $index) {
  <div class="input-group">
    <span class="input-group-text"> {{ $index + 1 }} </span>
    <span class="input-group-text form-control">{{ skill.Name }}</span>
    <span class="input-group-text">{{ skill.Shape }}</span>
    <span class="input-group-text">{{ skill.Tariff }}</span>
    <span class="input-group-text">
      <i class="fa-solid fa-magnifying-glass"></i>
    </span>
  </div>
  }
</main>
