<div class="skill-selection-modal-container modal-header">
  <h1>
    Replace #{{ skillIndex + 1 }} - {{ selectedSkill.name }} -
    {{ selectedSkill.shape }}
  </h1>
</div>
<div class="modal-body">
  <table class="table table-striped">
    <thead class="skill-selection-modal-container__table-header">
      <tr>
        <th>Skill</th>
        <th>Shape</th>
        <th>DD</th>
      </tr>
      <tr>
        <th>
          <input
            class="form-control"
            type="text"
            name="filterName"
            id="filterName"
            title="filterName"
            [(ngModel)]="filterName"
          />
        </th>
        <th>
          <select
            class="form-select"
            name="filterShape"
            id="filterShape"
            title="filterShape"
            [(ngModel)]="filterShape"
          >
            <option selected></option>
            <option value="tuck">Tuck</option>
            <option value="pike">Pike</option>
            <option value="straight">Straight</option>
          </select>
        </th>
        <th>
          <input
            class="form-control"
            type="number"
            name="filterMaxDifficulty"
            id="filterMaxDifficulty"
            title="filterMaxDifficulty"
            [(ngModel)]="filterMaxDifficulty"
          />
        </th>
      </tr>
    </thead>
    <tbody>
      @for (
        skill of skills
          | filterBySkillName: filterName
          | filterBySkillShape: filterShape
          | filterByMaxDifficulty: filterMaxDifficulty;
        track $index
      ) {
        <tr (click)="closeModal(skill)">
          <td>{{ skill.name }}</td>
          <td>{{ skill.shape }}</td>
          <td>{{ skill.tariff }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" type="button" (click)="clearFilters()">
    Clear Filters
  </button>
  <button class="btn btn-danger" type="button" (click)="dismissModal()">
    Close
  </button>
</div>
